
mixin modal() 
  
	.d-none
		div(id="modal-call" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Заказать звонок
					p.text-secondary.mb-4 Укажите Ваш телефон и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
				//- +input("Ваше Имя")(required) 
				+input("Введите телефон","tel")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" )  Отправить
				//- +polite()
		// #modal-call
		
		div(id="modal-order" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Попробовать программу
					p.text-secondary.mb-4 Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
				//- +input("Ваше Имя")(required) 
				.form-wrap__input-wrap.form-group
					select.form-wrap__input.form-control
						option(value="").price-1 Тариф «Гараж» – 5 000 ₽ / мес.
						option(value="").price-2 Парк -  500 ₽ / мес. / 1 авто
						option(value="").price-3 Флот – 5 000 ₽ / мес.
						option(value="").price-4 Персональный  – 5 000 ₽ / мес.
				+input("Ваше имя")
				+input("Введите телефон","tel")
				+input("Город")
				+input("E-mail (на него придет ссылка)","email")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" )  Отправить
				//- +polite()
		// #modal-test
		
		div(id="modal-test" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Попробовать программу
					p.text-secondary.mb-4 Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
				//- +input("Ваше Имя")(required) 
				+input("Ваше имя")
				+input("Введите телефон","tel")
				+input("Город")
				+input("E-mail (на него придет ссылка)","email")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" )  Отправить
				//- +polite()
		// #modal-test
		 

		div(id="modal-reg" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Регистрация 
				+input("Электронная почта",'email') 
				+input("Пароль","password")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" ) Зарегистрироваться
				.mb-1.text-center Вы зарегистрированы?  #[a(href="#modal-in" ).tdn.link-modal Войти] 
		// #modal-reg
		div(id="modal-in" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Вход 
				+input('Введите логин (телефон)') 
				+input("Пароль","password")
					+e.btn--show
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.8475 11.5332C23.6331 11.2399 18.5245 4.35168 11.9999 4.35168C5.47529 4.35168 0.366469 11.2399 0.152297 11.5329C-0.0507657 11.8112 -0.0507657 12.1886 0.152297 12.4668C0.366469 12.7601 5.47529 19.6484 11.9999 19.6484C18.5245 19.6484 23.6331 12.7601 23.8475 12.4671C24.0508 12.1889 24.0508 11.8112 23.8475 11.5332ZM11.9999 18.066C7.19383 18.066 3.03127 13.4941 1.79907 11.9995C3.02968 10.5036 7.18351 5.93409 11.9999 5.93409C16.8057 5.93409 20.968 10.5052 22.2007 12.0006C20.9701 13.4965 16.8163 18.066 11.9999 18.066Z" fill="black"/>
							<path d="M11.9992 7.25278C9.38163 7.25278 7.25195 9.38245 7.25195 12.0001C7.25195 14.6177 9.38163 16.7473 11.9992 16.7473C14.6168 16.7473 16.7465 14.6177 16.7465 12.0001C16.7465 9.38245 14.6168 7.25278 11.9992 7.25278ZM11.9992 15.1649C10.2541 15.1649 8.83441 13.7452 8.83441 12.0001C8.83441 10.2549 10.2541 8.83523 11.9992 8.83523C13.7443 8.83523 15.164 10.2549 15.164 12.0001C15.164 13.7452 13.7444 15.1649 11.9992 15.1649Z" fill="black"/>
							</svg>
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" ) Войти
				.mt-3.text-center  #[a(href="#modal-sms" ).text-secondary.link-modal Напомнить пароль по SMS]
		// #modal-in
		div(id="modal-sms" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Напомнить пароль по SMS 
				+input('Введите логин (телефон)') 
				+e.btn.btn-primary(type="submit" ) Напомнить пароль
		// #modal-sms
		div(id="modal-pass" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Введите пароль
				+input("Пароль","password")
					+e.btn--show
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M23.8475 11.5332C23.6331 11.2399 18.5245 4.35168 11.9999 4.35168C5.47529 4.35168 0.366469 11.2399 0.152297 11.5329C-0.0507657 11.8112 -0.0507657 12.1886 0.152297 12.4668C0.366469 12.7601 5.47529 19.6484 11.9999 19.6484C18.5245 19.6484 23.6331 12.7601 23.8475 12.4671C24.0508 12.1889 24.0508 11.8112 23.8475 11.5332ZM11.9999 18.066C7.19383 18.066 3.03127 13.4941 1.79907 11.9995C3.02968 10.5036 7.18351 5.93409 11.9999 5.93409C16.8057 5.93409 20.968 10.5052 22.2007 12.0006C20.9701 13.4965 16.8163 18.066 11.9999 18.066Z" fill="black"/>
							<path d="M11.9992 7.25278C9.38163 7.25278 7.25195 9.38245 7.25195 12.0001C7.25195 14.6177 9.38163 16.7473 11.9992 16.7473C14.6168 16.7473 16.7465 14.6177 16.7465 12.0001C16.7465 9.38245 14.6168 7.25278 11.9992 7.25278ZM11.9992 15.1649C10.2541 15.1649 8.83441 13.7452 8.83441 12.0001C8.83441 10.2549 10.2541 8.83523 11.9992 8.83523C13.7443 8.83523 15.164 10.2549 15.164 12.0001C15.164 13.7452 13.7444 15.1649 11.9992 15.1649Z" fill="black"/>
							</svg>

				+e.btn.btn-primary(type="submit" ) Войти
		// #ьodal-pass

		div(id="modal-thanks" class="  modal-win modal-form" )
			+b.form-wrap
				.text-center
					+e.title.h4.strong Спасибо за обращение!
					p.text-secondary.mb-4 Наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
		// #modal-thanks

	// modal