
mixin modal() 
  
	.d-none
		div(id="modal-call" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Заказать звонок
					p.text-secondary.mb-4 Укажите Ваш телефон и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
				//- +input("Ваше Имя")(required) 
				+input("Введите телефон","tel")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" )  Отправить
				//- +polite()
		// #modal-call
		
		div(id="modal-order" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Попробовать программу
					p.text-secondary.mb-4 Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
				//- +input("Ваше Имя")(required) 
				.form-wrap__input-wrap.form-group
					select.form-wrap__input.form-control
						option(value="").price-1 Тариф «Гараж» – 5 000 ₽ / мес.
						option(value="").price-2 Парк -  500 ₽ / мес. / 1 авто
						option(value="").price-3 Флот – 5 000 ₽ / мес.
						option(value="").price-4 Персональный  – 5 000 ₽ / мес.
				+input("Ваше имя")
				+input("Введите телефон","tel")
				+input("Город")
				+input("E-mail (на него придет ссылка)","email")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" )  Отправить
				//- +polite()
		// #modal-test
		
		div(id="modal-test" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Попробовать программу
					p.text-secondary.mb-4 Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
				//- +input("Ваше Имя")(required) 
				+input("Ваше имя")
				+input("Введите телефон","tel")
				+input("Город")
				+input("E-mail (на него придет ссылка)","email")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" )  Отправить
				//- +polite()
		// #modal-test
		 

		div(id="modal-reg" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Регистрация 
				+input("Электронная почта",'email') 
				+input("Пароль","password")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" ) Зарегистрироваться
				.mb-1.text-center Вы зарегистрированы?  #[a(href="#modal-in" ).tdn.link-modal Войти] 
		// #modal-reg
		div(id="modal-in" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Авторизация
					p.text-secondary.mb-4 Заполните форму, мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время.
				+input("Электронная почта",'email') 
				+input("Пароль","password")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" ) Войти
				.mb-1.text-center Вы не зарегистрированы? #[a(href="#modal-reg" ).tdn.link-modal Зарегистрироваться]
				.mb-1.text-center Забыли пароль? #[a(href="#" ).tdn Восстановить пароль]
		// #modal-in
		div(id="modal-add-object" class="  modal-win modal-form" )
			+form-wrap
				.text-center
					+e.title.h4.strong Добавлять объекты могут только зарегистрированные пользователи
					p.text-secondary.mb-4 Введите ваш логин и пароль.
				+input("Электронная почта",'email') 
				+input("Пароль","password")
				//- +input("email","Ваше email")(required)
				//- +text( "Комментарий")
				+e.btn.btn-primary(type="submit" ) Войти
				.mb-1.text-center Вы не зарегистрированы? #[a(href="#modal-reg" ).tdn.link-modal Зарегистрироваться]
				.mb-1.text-center Забыли пароль? #[a(href="#" ).tdn Восстановить пароль]
		// #modal-add-object

		div(id="modal-thanks" class="  modal-win modal-form" )
			+b.form-wrap
				.text-center
					+e.title.h4.strong Спасибо за обращение!
					p.text-secondary.mb-4 Наш менеджер свяжется с&nbsp;Вами в&nbsp;ближайшее время
		// #modal-thanks

	// modal