mixin sFree()
	// start sFree
	+b.SECTION.sFree#sFree&attributes(attributes)
		.container
			+e.inner.section
				+e.wrap
					h2  30&nbsp;дней полного функционала A7&nbsp;REVOLUTION
					 
					+e.price 0 ₽
					+e.btn(href="#modal-test").link-modal Попробовать прямо сейчас
					+pic("book.png")
	// end sFree