mixin sVideoInstr()
	// start sVideoInstr
	+b.SECTION.sVideoInstr.section#sVideoInstr&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sVideoInstr
				
			.row
	// end sVideoInstr