mixin sVideoReview()
	// start sVideoReview
	+b.SECTION.sVideoReview.section#sVideoReview&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Видеообзор программы
			+e.video-wrap
				<iframe width="950" loading="lazy" height="525" src="https://www.youtube.com/embed/awaUKHAF1gs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			+e.btn(href="#") Все видео-инструкции


				
	// end sVideoReview