mixin sVideoReview()
	// start sVideoReview
	+b.SECTION.sVideoReview.section#sVideoReview&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Видеообзор программы
			+e.img-wrap(href="#")
				+e.DIV.img-bg
					img(src="img/@2x/video-review.jpg", alt="")
				+e.DIV.img-play
					img(src="img/svg/play-arrow.svg", alt="")


				
	// end sVideoReview