mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		.container
			.row
				.col-auto
					+e.logo(href="#")
						img(src="img/svg/logo.svg", alt="")
					+e.text Онлайн контроль автопроката
				.col-auto







	// end topLine