mixin sPrice()
	// start sPrice
	+b.SECTION.sPrice.section#sPrice&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Стоимость
			+e.table
				mixin item(l,t,p,t1, t2, t3,t4,t5, st, btn, cl, a, tarif)
					+e.item
						+e.td
							if l
								+e.label(class=`bg-${cl}`)= l
								+e.title!= t
								if st
									.strong!= st
								if p
									+e.text.text-secondary!= p
						if t1
							+e.td!= t1
						else
							+e.td.d-none.d-lg-block
						+e.td!= t2
						+e.td!= t3
						+e.td!= t4
						if t5
							+e.td
								if t5
									.strong!= t5
								block
						else
							+e.td.d-none.d-lg-block
						+e.td
							if btn
								+e.A.btn.link-modal(href= a class=`btn-${cl}` data-tarif= tarif)= btn
				+item(``, ``, `` , `GPS-мониторинг парка* (дополнительно по желанию)` , `Кол-во автомобилей` , `Кол-во пользователей` , `Доп. программирование` , `Цена в месяц`, ``, ``, '','')

				+item(`Бесплатный`, `Тест-драйв`, `` ,  `` ,`Неограниченно` , `Неограниченно` , `-` , ``, `30 дней`, `Попробовать`, 'info','#modal-test','tarif-0')

				+item(`Фиксированный тариф`, `Гараж`, `Удачное решение для небольшого &laquo;семейного&raquo; бизнеса` , `+ 600&nbsp;₽&nbsp;/ мес.&nbsp;/ 1&nbsp;авто` , `до 9 шт.` , `2` , `1 000 ₽ / час` , `5 000 ₽ / мес.`, ``, `Купить`, 'primary btn-order','#modal-order','tarif-1')

				+item(`Фиксированный тариф`,`Парк` , `Идеально для компаний со&nbsp;средним парком`,  `+ 500 ₽ / мес. / 1 авто`, `до 50 шт.` , `10` , `900 ₽ / час` , `10 000 ₽ / мес.` , ``, `Купить`, 'primary btn-order','#modal-order','tarif-2')

				+item(`Фиксированный тариф`, `Флот` , `Оптимально для крупных компаний с&nbsp;большим парком`, `+ 400 ₽ / мес. / 1 авто`, `неограничено` , `неограничено` , `800 ₽ / час` , `20 000 ₽ / мес.` ,  ``, `Купить`, 'primary btn-order','#modal-order','tarif-3')

				+item(`Динамический`, `Персональный`, `` , `300 ₽ / мес. / 1 авто` , `неограничено` , `неограничено` , `700 ₽ / час` , `1% от оборота`, ``, `Купить`, 'dark btn-order','#modal-order','tarif-4')
					.text-secondary Мин. 5 000 ₽ / мес.
			+e.footer В&nbsp;программный комплекс A7&nbsp;Revolution включена функция автоматической блокировки двигателя автомобиля при отрицательном балансе клиента (например, при получении штрафа ГИБДД) и&nbsp;автоматическая разблокировка при переходе из&nbsp;отрицательного в&nbsp;положительный баланс. Для этого, совместно с&nbsp;компанией #[a(href="www.gelioscar.ru" target="_blank") www.gelioscar.ru] мы&nbsp;выпустили линейку GPS трекеров с&nbsp;функцией блокировки двигателя, зависящей от&nbsp;баланса клиента, который ездит на&nbsp;вашем автомобиле. GPS трекеры GELIOSCAR оснащены SIM-чипами с&nbsp;международным интернет-роумингом, позволяющим вам наблюдать свои авто в&nbsp;любой точке мира. Наблюдать свои авто вы&nbsp;можете на&nbsp;удобном сайте www.geliospro.com, а&nbsp;также в&nbsp;официальном мобильном приложении GeliosMobile.
				br
				| Комплект оборудования на&nbsp;один автомобиль стоит 5000&nbsp;руб. Аб. плата за&nbsp;GPS наблюдение зависит от&nbsp;выбранного тарифа A7&nbsp;REVOLUTION.

	// end sPrice