mixin sPrice()
	// start sPrice
	+b.SECTION.sPrice.section#sPrice&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Стоимость
			+e.table
				mixin item(l,t,p,t1, t2, t3,t4,t5, st, btn, cl)
					+e.item
						+e.td
							if l
								+e.label(class=`bg-${cl}`)= l
								+e.title!= t
								if st
									.strong!= st
								if p
									+e.text.text-secondary!= p
						+e.td!= t1
						+e.td!= t2
						+e.td!= t3
						+e.td!= t4
						+e.td
							if t5
								.strong!= t5
							block
						+e.td
							if btn
								+e.btn(href="#" class=`btn-${cl}`)= btn
				+item(``, ``, `` , `GPS-мониторинг парка* (дополнительно по желанию)` , `Кол-во автомобилей` , `Кол-во пользователей` , `Доп. программирование` , `Цена в месяц`, ``, ``, '')

				+item(`Бесплатный`, `Тест-драйв`, `` , `Неограниченно` , `Неограниченно` , `` , `` , ``, `30 дней`, `Попробовать`, 'info')

				+item(`Фиксированный тариф`, `Гараж`, `Удачное решение для небольшого &laquo;семейного&raquo; бизнеса` , `+ 600&nbsp;₽&nbsp;/ мес.&nbsp;/ 1&nbsp;авто` , `до 9 шт.` , `2` , `1 000 ₽ / час` , `5 000 ₽ / мес.`, ``, `Купить`, 'primary')

				+item(`Фиксированный тариф`,`Парк` , `Идеально для компаний со&nbsp;средним парком`,  `+ 500 ₽ / мес. / 1 авто`, `до 50 шт.` , `10` , `900 ₽ / час` , `10 000 ₽ / мес.` , ``, `Купить`, 'primary')

				+item(`Фиксированный тариф`, `Флот` , `Оптимально для крупных компаний с&nbsp;большим парком`, `+ 400 ₽ / мес. / 1 авто`, `неограничено` , `неограничено` , `800 ₽ / час` , `20 000 ₽ / мес.` ,  ``, `Купить`, 'primary')

				+item(`Динамический`, `Персональный`, `` , `300 ₽ / мес. / 1 авто` , `неограничено` , `неограничено` , `700 ₽ / час` , `1% от оборота`, ``, `Купить`, 'dark')
					.text-secondary Мин. 5 000 ₽ / мес.


	// end sPrice